{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau véhicule{% endblock %}

{% block body %}
    <h1>Créer un nouveau véhicule</h1>

    {{ include('vehicule/_form.html.twig') }}

    <a href="{{ path('app_vehicule_index') }}">Retour à la liste</a>
{% endblock %}
