{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau conducteur{% endblock %}

{% block body %}
    <h1>Créer un nouveau conducteur</h1>

    {{ include('conducteur/_form.html.twig') }}

    <a href="{{ path('app_conducteur_index') }}">Retour à la liste</a>
{% endblock %}
